#head{width: 100%;height:0;margin: 0;
    position: relative;}

.head_inner{max-width:1100px; margin: 0 auto;background: #eee;position: relative;
    top: 20px;border-radius: 50px;display: flex;z-index: 999;height: 60px;}
.head_inner a{color:#333;position: relative;}
.head_inner a:hover{color:#dd602d;}
.head_inner a:first-child:before , .head_inner a:last-child:before{
  content: "";
}
.head_inner ul.menu li a:before {
  content: "|";
  position: absolute;
  right: -5px;
  color: #ccc;
}

ul.menu{display: flex;flex-direction: row;list-style: none;}
ul.menu li{padding: 5px;
  line-height: 36px;}

#logo a {
    display: block;
    padding: 10px 20px 10px 30px;
}
#logo a img {
  width: 40px;
  height: auto;
}

/*首頁*/
div#indexfor_main {
    padding-top: 0;
}
div#for_main {
  padding-top: 110px;
  max-width: 1100px;
    margin: 0 auto;
}



body{
      margin:0;
      width:100%;
        background:#ffffff;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  header{
      width:100%;
  }
  
  .glyphicon-home{
    color:white; 
    font-size:1.5em; 
    margin-top:5px; 
    margin:0 auto;
  }

  span{padding-left:20px;}
  /* a{color:#336699;} */



  /* 在PC上隱藏漢堡選單 */
.showmenu{
  display: none;
}
@media (max-width: 767px){
  .menu {
    /*隱藏選單開始*/
    max-height: 0px;
    overflow: hidden;
    /*隱藏選單結束*/
    transition: max-height 1.5s;
    margin-top: 1px;
    /*絕對定位疊在網頁上*/
    position: absolute;
    z-index: 100;
    /*header 80px+1px boder 線條*/
    top: 80px;
    left: 0;
    right: 0;
    background: #fffffff5;
    flex-direction: column!important;
    
  }
  .head_inner ul.menu li a:before{display:none;}
  .menu li{
    float: none;
    border-bottom: 1px dashed #dbc3b6;
  }
  .menu li a{
    transition: all 0.3s;
  }
  .menu li a:hover{
    background: #f1ba9a;
    color: #fff;
  }
  .head_inner a.showmenu{
    display: block;
    margin: 1em;
    position: absolute;
    right: 10px;
  }
  /*jQ點擊後動態在 body 加上 class */
  .menu-show .menu{
    max-height: 500px
  }
}